{% extends 'base.html' %}
{% block titel %} About {% endblock %}

{% block left %}
{% endblock %}

{% block middle %}
    <div class="">
        <ul class="list-inline">
            <li><h4 class="info-DealApp">On the site you can find suppliers from all over the country</h4></li>
            <li><h4 class="info-DealApp">Select a product by rating</h4></li>
            <li><h4 class="info-DealApp">Search for remote distributors</h4></li>
            <li><h4 class="info-DealApp">Make deliveries from the workplace</h4></li>
            <li><h4 class="info-DealApp">Be always a step ahead of old habits</h4></li>
            <li><h4 class="info-DealApp">A New Approach to Business Relationships</h4></li>
            <li><h4 class="info-DealApp">Do business from anywhere in the world</h4></li>
        </ul>
    </div>

{% endblock %}

{% block right %}
    <div class="">
        <h5>Developers</h5>
        <ul>
            <li>Lazarus</li>
            <li>+64 204-093-75-80</li>
            <li>Yelizar.Huryn@gmail.com</li>
        </ul>
        <ul>
            <li>Ilya</li>
            <li>+64 220-701-03-65</li>
            <li>*******************</li>
        </ul>
        <ul>
            <li>Website page dealappproject@gmail.com</li>
        </ul>
        <h6>2017 Copyright. All rights reserved by DealApp.</h6>
    </div>
{% endblock %}