{% extends 'base.html' %}
{% block titel %} Clients {% endblock %}

{% block content %}
    <p>To find a new buyer you can use "search"</p>
    <a href="#" class="btn btn-primary" role="button">New Item</a>
    <div class="list-clients-box">
         <ul class="list-clients">
         {% if clients %}
             {% for client in clients %}
              <li class="string-clients">
                  <div>
                      <h4>{{ client.username }}</h4>
                      <h6>{{ client.email }}</h6>
                       <a href="{% url 'chat:create_session' client.id %}" class="btn btn-sm btn-success" role="button">Send message</a>
                       <a href="{% url 'base:change_clients' 'remove' client.id %}" class="btn btn-sm btn-danger" role="button">Remove</a>
                  </div>
              </li>
            {% endfor %}
         {% else %}
             <h4>You haven't clients yet</h4>
          {% endif %}
        </ul>
    </div>
{% endblock %}