{% extends 'base.html' %}
{% load static %}
{% block titel %} Home {% endblock %}

{% block right %}
{% endblock %}

{% block middle %}
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <div class="">
        <h1 class="heading-DealApp">DealApp</h1>
    </div>
    <div class="info-box">
        <h5 class="info-DealApp">This site provides you the fastest and easiest way to find a supplier or distributor of goods</h5>
    </div>
{% endblock %}

{% block left %}
{% endblock %}