{% extends 'anonymouse_base.html' %}
{% block titel %} Home {% endblock %}
{% block content %}
    <div class="landing-top-section">
        <div class="landing-top-section-content">
            <a href="{% url 'access:signup' %}">
                <button>Join Us</button>
            </a>
        </div>
    </div>
    <div class="landing-2-section">

    </div>
    <div class="landing-top-section">
        <div class="landing-top-section-content">
            <button>Join Us</button>
        </div>
    </div>
    <div class="landing-2-section">

    </div>
    <div class="landing-top-section">
        <div class="landing-top-section-content">
            <button>Join Us</button>
        </div>
    </div>
{% endblock %}