{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titel %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
     <!-- Latest compiled and minified CSS -->

<body>
    {% include 'header.html' %}
    <div class="container home-container">
    {% block content %}
    {% endblock %}
    </div>
    {% include 'footer.html' %}


    <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>