{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titel %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/buyer_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/suppliers_pages.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="{% static 'js/jQuerry/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/js.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
     <!-- Latest compiled and minified CSS -->

<body>

    {% include 'header.html' %}
    {% include 'sidebar.html' %}
    <div class="container-fluid wrapper">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}


    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>