{% load static %}
<div class="landing-header">
    <div class="landing-open-sidebar">
        <span class="divider"></span>
        <span class="divider"></span>
        <span class="divider"></span>
    </div>
    <div class="landing-menu">
        <ul>
            <li>Menu</li>
            <li>About</li>
            <li class="premium">Premium</li>
        </ul>
    </div>
    <div class="landing-logo">
        <a href="/">
            <img id="logo" src="{% static 'images/landing/2_Flat_logo_on_transparent_302x65.png' %}">
        </a>
    </div>
     <div class="header-search">
        <form class="search-form" id="search" method='GET' action="{% url 'search:search' %}">
            {% csrf_token %}
            <input class="header-search-field" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>



