<nav id="site-header" class="navbar navbar-expend-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'base:home' %}">DealApp</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-navigation" aria-expanded="navbar-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon">----</span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "base:home" %}">
                    <span class="sr-only">Var</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "base:home" %}">
                    <span class="sr-only">Ilya</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "base:home" %}">
                    <span class="sr-only">Elik</span>
                </a>
            </li>
        </ul>
    </div>
</nav>



