{% load  static %}
<div class="container">
    <div class="sidebar">
        <div class="inner-sidebar">
            {% if user.is_authenticated %}
            <span><h2>Your Profile</h2></span>
            <div class="profile-img">
                <img src="{{ user.photo.url }}" class="img-fluid">
            </div>
            <div class="profile-username"><i class="fas fa-user user-icon"></i><span>{{ user.username }}</span></div>
            <hr>
            <div class="sidebar-options">
                <ul>{% message request user.id as message%}
                    <li class="string-mes" id="string-mes"><a href="#"><p class="mes" id="mes" >{{ message }}</p> Messages</a></li>
                    {% if request.user.user_type == 'supplier' %}
                        <hr>
                        <li><a href="#">My buyer</a></li>
                        <li><a href="#">Order history</a></li>
                        <li class="string-products" id="string-products"><a href="{% url 'suppliers:list_goods' %}">My products</a></li>
                    {% elif request.user.user_type == 'buer' %}
                        <hr>
                        <li><a href="#">My suppliers</a></li>
                        <li><a href="#">Order history</a></li>
                         <li><a href="#">My stores</a></li>
                    {% else %}
                    {% endif %}
                    <hr>
                    <li><a href="{% url 'base:about' %}">About</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="{% url 'account_logout' %}">LogOut</a></li>
                </ul>
            </div>
                {% else %}
                <button class="btn sidebar-login-btn"><a href="{% url 'account_login' %}">Login</a></button>
                <button class="btn sidebar-signup-btn"><a href="{% url 'account_signup' %}">Sign Up</a></button>
            {% endif %}
        </div>
    </div>
</div>