{% load  static %}
<div class="container">
    <div class="sidebar">
        <div class="inner-sidebar">
            {% if user.is_authenticated %}
            <span><h2>Your Profile</h2></span>
            <div class="profile-img">
                <img src="{{ user.photo.url }}" class="img-fluid">
            </div>
            <div class="profile-username"><i class="far fa-user"></i>{{ user.username }}</div>
                {% else %}
                <button class="btn sidebar-login-btn"><a href="{% url 'account_login' %}">Login</a></button>
                <button class="btn sidebar-signup-btn"><a href="{% url 'account_signup' %}">Sign Up</a></button>
            {% endif %}
        </div>
    </div>
</div>