{% extends 'base.html' %}
{% block titel %} Goods {% endblock %}

{% block content %}
    <p>To add a new product to database press button</p>
    <a href="{% url 'suppliers:crete_goods' %}" class="btn btn-primary" role="button">New Item</a>
    {% for object in goods %}
        <div class="ui items segment">
            <div class="item">
                <div class="ui small image">
                    <img src="{{ object.picture.url }}" data-holder-rendered="true">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        {{ object.name }}
                    </div>
                    <div class="description">
                        <p>
                            {% if object.description|length <= 160 %}
                                {{ object.description }}
                            {% elif object.description|length >= 160 %}
                                {{ object.description|truncatechars:160 }}
                            {% endif %}
                        </p>

                    </div>
                    <div class="extra">
                        <div class="ui left floated">
                            <p class="ui green label ">
                                {{ object.price }}$
                            </p>
                            <p class="ui yellow label ">
                                {{ object.rating }}
                            </p>
                        </div>
                        <div class="ui right floated button">
                            <a href="{% url 'suppliers:update_goods' object.id %}" role="button">Edit</a>
                        </div>
                        <div class="ui right floated button">
                            <a href="{% url 'suppliers:delete_goods' object.id %}" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}