{% extends 'base.html' %}
{% block titel %} Messages {% endblock %}
{% load tz %}

{% block content %}
    {% if not chat %}
    <div class="panel panel-body">
        Some problems (Elik you should creat a chat)
    </div>
    {% endif %}
    {% if chat %}
        <div class="">
            {% if chat.message_set.count == 0 %}
                <div class="message-error">
                    <p>No messages with this user yet</p>
                </div>
            {% else %}
            <div id="messages" class="panel">
                <div id="chat-list">
                    {% for message in chat.message_set.all %}
                            {% include 'chat/text.html' with message_item=message %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% endif %}
        <div id="message_form">
            <form id="message-form" class="panel panel-body" method="post" >
                {% csrf_token %}
                {{ form.media }}
                {% for item in form %}
                    <div class="chat-field">
                        <ui class="list-inline">
                            <li><div class="textarea">{{ item }}</div></li>
                            <li><button type="submit" class="btn btn-default btn-sm">Send</button></li>
                        </ui>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>

    <div class="chat-button">
        <a href="{% url 'chat:chat' %}"><button>Return to chat</button></a>
    </div>

{% endblock %}

{#{% block right %}#}
{#    <div class="chat-button">#}
{#        <a href="{% url 'chat:chat' %}"><button>Return to chat</button></a>#}
{#    </div>#}
{#{% endblock %}#}