{% url 'base:home' message_item.user.username as the_user_url%}
{% load tz %}
<div class="chat-list">
                <div class="chat-img">
                    <a href="{% url 'base:home' %}"><img class="chat-img" src="{{ message_item.user.photo.url }}"></a>
                </div>
                <div class="chat-username">
                    <a href="{{ the_user_url }}">{{ message_item.user.username }}</a>
                </div>
                <div class="chat-date">
                     <small>{{ message_item.created|utc }}</small>
                </div>
        <div class="chat-message">
            <div class="chat-set{% if not message_item.is_readed %}unreaded{% endif %}">{{ message_item.message|safe }}</div>
        </div>

</div>