/*css header login and signup forms*/
#login-sign {
    cursor: pointer;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #616161;
    top: 100px;
    right: 173px;
    display: none;
}

.header-login-field {
    height: 170px;
    width: 260px;
    position: absolute;
    background: #222b39;
    top: 110px;
    right: 140px;
    border: 1px solid #616161;
    display: none;
}

.login {
    padding: 20px;
}


.login input:focus {
    border-radius: 1px;
    padding-left: 1px;
    border: 0;
}

.login-field {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    background: white;

}

/*button of login field*/
.primaryAction {
    background: no-repeat;
    color: white;
    width: 100%;
    cursor: pointer;

}

.login-field-appear {
    display: block;
}

/*css login and signup forms*/
.in-form {
    padding: 10px 20px;
    margin: 10% auto;
    background-color: #212a38;
    width: 35%;
    border-radius: 5px;
}

.access-form{

}

.access-form label{
    color: white;
}

.access-form p{
    padding-bottom: 10px;
}
.access-form ul{
    padding-top: 5px;
    float: end;
    color: red;
    font-size: 9pt;
}

.access-form input:focus{
    border-radius: 5px;
    padding-left: 10px;
    border: solid 5px white;
}

.access-form-choose {
    text-align: center;
}

.access-form-choose label{
    margin-top: 40px;
    color: white;
    float: bottom;
}

.access-form-choose button{
    background: no-repeat;
    color: white;
    cursor: pointer;
}