.home-menu {
    width: 60%;
    height: 100%;
    margin: auto;
    display: inline-block;
}

.home-menu ul li {
    display: inline;

    float: right;
    width: 20%;
    color: white;
    padding: 12px 0 0 0;
}


