.chat-line {
    width: 805px;

}

.chat-user-info img {
    border-radius: 50%;
    border: solid 2px #ffffff;
    width: 50px;
    height: auto;
    padding: 0;
    margin: 0;
}

.chat-user-info-small img{
    border-radius: 50%;
    border: solid 2px #ffffff;
    width: 30px;
    height: auto;
    padding: 0;
    margin: 0;
}

.chat-username {
    width: 0;
}

.chat-date {
    font-size: 10px;
    float: right;
    padding-top: 10px;
}


.chat-set {
    background-color: white;
    padding-left: 55px;
}
.chat-setunreaded {
    background-color: #999999;
    padding-left: 40px;
}


.chat-field{
    margin: 5px;
}

.chat-field textarea {
    resize: none;
    background-color: white;
    width: 800px;
    height: 100px;
}

.message-error{
    margin: 5px;
}

.chat-button {
    position: fixed;
    margin: 5px;
}

.chats{
    margin: 5px 0 3px 0;
    padding: 2px 2px 2px 2px;
    background-color: #5a6268;
    border-radius: 5px;
}
.string-mes{

    float: initial;

}

.mes{
    position: absolute;
    margin-left: 190px;
    float: right;
    background-color: greenyellow;
    color: #005cbf;
    width: 20px;
    border-radius: 10px;
}