.header-search {
    width: 80%;
    float: right;
    color: white;
    padding-top: 10px;
}
.search-form input{
    width: 50%;
    border: white solid;
}
.search-form button {
    margin:0;
    border: white solid;
    background: white;
}


@media only all and (max-width: 768px) {
    .header-search {
        display: none;
    }
}
