html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#body-content {
    padding-bottom: 100px;
}

#logo {
    height: 35px;
    margin-left: 30px;
    margin-bottom: -10px;

}

.main-block {
    width: 80%;
    margin: auto;
}

/*remove padding*/
.padding-0{
    padding-right:0;
    padding-left:0;
}
.border-left-1px {
    border-left: 1px solid black;
}
.border-right-1px {
    border-right: 1px solid black;
}