.sidebar-login-btn {
    border-radius: 0;
    margin-left: 15%;
    float: left;
}

.sidebar-signup-btn {
    border-radius: 0;
    margin-right: 15%;
    float: right;
}

.sidebar {
    color: white;
    position: fixed;
    float: left;
    width: 300px;
    padding: 20px 0;
    background-color: #3a3a3a;
    height: 100%;
    left: -300px;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
    z-index: 999999


}

.sidebar.active {
    left: 0;
}

.sidebar a, a:hover {
    color: white;
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
    text-decoration: none;
}

.icon-menu {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    padding: 5px;
    cursor: pointer;
    margin: 10px 0 0 10px;
}

.divide {
    display: block;
    height: 3px;
    margin: 3px 0;
    background-color: white;
}

.sidebar img {
    border-radius: 50%;
    border: solid 2px #ffffff;
    width: 160px;
    height: 160px;
    margin: 20px 0 10px 24%;
}

.sidebar h2 {
    font-size: 19px;
    text-align: center;
}

.sidebar h3 {
    font-size: 20px;
}

.profile-username {
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.sidebar li {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.sidebar ul {
    padding: 0;
}

.sidebar hr {
    background: #616161;
}


