/*WE NEED A COMMENT EVERYWHERE*/
/*header*/

.page-box{
    min-width: 805px;
}
.navbar-main {
    width: 100%;
    height: 50px;
    background-color: #212a38;
}

.navbar-main a:hover {
    color: white;
    text-decoration: none;
}

.navbar-main a {
    color: white;
    text-decoration: none;
}

.navbar-logo{
    width: 100px;
    font-size: 2.5em;
    color: white;
    float: left;
    text-align: center;
    padding-top: 9px;
}

.navbar-logo h1 {
    font-size: 25px;
}

.navbar-main input {
    width: 50%;
    height: 25px;
}

/*landing page styles*/

.landing-image-top{
    margin-top: 2%;
    width:100%;
    height:400px;
    background: #398fff;
    filter: blur(5px);
}

/*landing page styles*/

/*base.html*/
/*.home-container {*/
    /*align-self: center;*/
    /*max-width: 70%;*/
    /*margin-left: 15%;*/
    /*margin-right: auto;*/
/*}*/
/*landing_home.html*/
.base-row{
    margin-right: -5px;
    margin-left: -5px
}
.buyer-opportunities {
    position: relative;
}
.registration-form{
    position: relative;
    left: 0;
    bottom: 0;
}

/* User profile styles*/

.profile-info {
    padding: 0 0 0 5%;
}

.profile-wrapper img {

    border: dimgrey 10px;
    border-radius: 5px;
}

.profile-wrapper ul li {
    list-style: None;
}

.profile-wrapper {
    margin: 5% 0 0 0;
}


@media only screen and (max-width: 600px) {

}

/* Home page*/
.heading-DealApp{
    font-size: 100px;
    color: #5a6268;
    font-family: Faster One, cursive;
    }

.info-DealApp{
    color: #5a6268;
    }

/*clients page */

.list-clients{
    list-style-type: none;


}

.string-clients{
    width: 100%;
    margin: 2px 2px 2px 2px;
}

/*BLOCKS CONTAIN */
.section {
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #c1c1c1;
    margin-top: 20px;
    min-height: 420%;
}

.left-box{
    margin-right: 1%;
}

.middle-box{
    margin-right: 1%;
}

.right-box{

}
/*BLOCKS CONTAIN */



