/*WE NEED A COMMENT EVERYWHERE*/
/*header*/
.container-fluid {
    width: 100%;
    background-color: #edeef0;
}

body, html {
    width: 100%;
    background-color: #edeef0;
}
.navbar-main {
    width: 100%;
    height: 50px;
    background: #3a3a3a;

}

.navbar-main a:hover {
    color: white;
    text-decoration: none;
}

.navbar-main a {
    color: white;
    text-decoration: none;
}

.navbar-logo{
    width: 100px;
    font-size: 2.5em;
    color: white;
    float: left;
    text-align: center;
    padding-top: 9px;
}

.navbar-logo h1 {
    font-size: 25px;
}

.navbar-main input {
    width: 50%;
    height: 25px;
}

/*landing page styles*/

.landing-image-top{
    margin-top: 2%;
    width:100%;
    height:400px;
    background: #398fff;
    filter: blur(5px);
}

/*landing page styles*/

/*base.html*/
/*.home-container {*/
    /*align-self: center;*/
    /*max-width: 70%;*/
    /*margin-left: 15%;*/
    /*margin-right: auto;*/
/*}*/
/*home.html*/
.base-row{
    margin-right: -5px;
    margin-left: -5px
}
/*Buyer's side*/
.left-side {
    background-color: #f79178;
}
.buyer-opportunities {
    position: relative;
}
.registration-form{
    position: relative;
    left: 0;
    bottom: 0;
}
/* Supplier's side*/
.right-side {
    max-height: 100%;
    background-color: #0c5460;
}

/* User profile styles*/

.profile-info {
    padding: 0 0 0 5%;
}

.profile-wrapper img {

    border: dimgrey 10px;
    border-radius: 5px;
}

.profile-wrapper ul li {
    list-style: None;
}

.profile-wrapper {
    margin: 5% 0 0 0;
}


@media only screen and (max-width: 600px) {

}

/* Home page*/
.heading-DealApp{
    font-size: 100px;
    color: #5a6268;
    font-family: Faster One, cursive;
    }

.info-DealApp{
    color: #5a6268;
    }

/*clients page */
.list-clients-box{

    width: 750px;
}

.list-clients{
    list-style-type: none;

}

.string-clients{
    background-color: grey;
    width: 200%;
    margin: 2px 2px 2px 2px;
}







