/*WE NEED A COMMENT EVERYWHERE*/
/*base.html*/
.home-container {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
/*home.html*/
.base-row{
    margin-right: -5px;
    margin-left: -5px
}
/*Buyer's side*/
.left-side {
    background-color: #5a6268;
}
.buyer-opportunities {
    position: relative;
}
.registration-form{
    position: relative;
    left: 0;
    bottom: 0;
}
/* Supplier's side*/
.right-side {
    max-height: 100%;
    background-color: #0c5460;
}