.card-box{
    display: block;
    line-height: 1.42857143;
    background-color: #5a6268;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 5px 20px 5px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

}

.card-img-top {
    height: 255px;
    width: 90%;
    display: block;
}

.btn-prime{
    margin-right: 4px;
}

.left-side{
    background-color: white;
}