{% extends 'anonymouse_base.html' %}
{% block titel %} LogIn {% endblock %}
{% block content %}
    <div class="in-form">
        <form class="login" method="POST" action="{% url 'access:login' %}">
            <span class="text-danger small"> {{ login_error }} </span>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction" type="submit">Sign In</button>
        </form>
    </div>
{% endblock %}
{##}
{#<ul class="nav nav-tabs">#}
{#        <li role="presentation">Log In</li>#}
{#        <li role="presentation"><a href="{% url 'access:signup' %}">Sign Up</a></li>#}
{#    </ul>#}
{#    <div class="in_and_up_form">#}
        <form class="login" method="POST" action="{% url 'access:login' %}">
          <span class="text-danger small"> {{ login_error }} </span>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="primaryAction" type="submit">Sign In</button>
        </form>
{#    </div>#}