{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

<p>If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
    {% for object in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small"> {{ object.errors }} </span>
            </div>
        <label class="control-label col-sm-2">{{ object.label_tag }} </label>
        <div class="col-sm-10"> {{ object }}</div>
        </div>
    {% endfor %}
  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<div class="col-sm-offset-2 col-sm-10">
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> "Forgot Password?" </a>
  <button class="primaryAction" type="submit">"Sign In"</button>
</div>
</form>

{% endblock %}
