{% extends "anonymouse_base.html" %}
{% block titel %} Login {% endblock %}

{% block content %}
    <div class="in-form">
        <form class="access-form" method="POST" action="{% url 'access:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction" type="submit">Log In</button>
        </form>
        <div class="ui horizontal divider">
            Or
        </div>
        <div class="access-form-choose">
            <a href={% url 'access:signup' %}>
                <button type="button">Sign Un</button>
            </a>
        </div>
    </div>

{% endblock %}