{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="login-form">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{% url 'account_login' %}">Log In</a></li>
                    <li role="presentation">>Sign Up</li>
                </ul>
                <div class="in_and_up_form">
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      {% if redirect_field_value %}
                      {% endif %}
                      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
