{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'access:account_login' %}">
  {% csrf_token %}
  {% for object in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small"> {{ object.errors }} </span>
            </div>
        <label class="control-label col-sm-2">{{ object.label_tag }} </label>
        <div class="col-sm-10"> {{ object }}</div>
        </div>
    {% endfor %}
<button class="primaryAction" type="submit">"Sign In"</button>
</form>

{% endblock %}
