.search-item-img {
    width: 100px;
    height: auto;
    padding: auto;
    margin: auto;
}

.search-item-block {
    border-right: solid black 1px;
    border-left: solid black 1px;
    text-align: center;
}

.product-rating {
    color: #201290;
}