.search-item-img {
    padding: 10px 0 0 10px;
}

.search-item-img img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.search-item-block {
    margin: 20px 20px;
    min-height: 110px;
    background: #222b39;
}

.product-rating {
    color: #201290;
}

.search-section-name {
    width: 100%;
    height: 33px;
}

.search-section-name h3 {
    margin-right: 0;
    padding: 0;
    width: 20%;
    display: inline-block;
}

.search-more {
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
}

.search-users-block {
    min-height: 500px;

}

.search-add-friend {
    background: #222b39;
    float: right;
    color: white;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    bottom: 45px;
    left: -10px;
    cursor: pointer;
    border: 1px white solid;
}

.search-item-name, .search-item-name a, .search-item-name a:hover {
    position: relative;
    top: -25px;
    right: -35px;
    color: white;

}

/*SEARCH SECTION FOR VIEWING ALL USERS*/




/*SEARCH SECTION FOR VIEWING ALL USERS*/