.search-item-img {
    width: 70px;
    height: auto;
    padding: auto;
    margin: auto;
}

.search-item-block {
    border-right: solid black 1px;
    text-align: center;
}

.product-rating {
    color: #201290;
}

.all-search {
        background-color: #ffffff;
    width: 805px;
    border-radius: 5px;
    border: solid 1px #c1c1c1;
    margin-top: 20px;
    min-height: 420%;
}