{% extends 'base.html' %}
{% block content %}
    <p xmlns="http://www.w3.org/1999/html"></p>
    <div class="ui items segment">
        <div class="item">
            <div class="ui small image">
                {% if product.picture %}
                    <img src="{{ product.picture.url }}">
                {% endif %}
            </div>
            <div class="middle aligned content">
                <div class="header">
                    {{ product.name }}
                </div>
                <div class="description">
                    <p>
                        {{ product.description }}
                    </p>
                </div>
                <div class="extra">
                    <div class="ui left floated">
                        <p class="ui green label ">
                            {{ product.price }}$
                        </p>
                        <p class="ui yellow label ">
                            {{ product.rating }}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui comments">
        <button class="ui primary basic button tiny feedback-button">
            <i class="icon edit"></i>Leave a comment
        </button>
        <div class="goodsfeedback ui form">

            <form class="form" method="post" action {% url 'all_goods:product_view' product_id %} >
                {% csrf_token %}
                <div id="goodsfeedback" style="width: 80%; float: right;">
                    {{ form }}
                    <input type='hidden' id="replay-comment-id" value="" name="replay-comment-id">
                </div>
                <button class="ui primary basic button tiny" style="margin-left: 10px; margin-top: 32px  ">
                    <i class="icon edit"></i>Send
                </button>
            </form>
        </div>
        <h3 class="ui dividing header">Comments</h3>
        <div class="feedbacks">
            {% for comment in feedbacks %}
                {% if comment.comment == None %}
                    <div class="feedback comment ">
                        <a class="avatar">
                            <img src="{{ comment.writer.photo.url }}">
                        </a>
                        <div class="content">
                            <a class="author">{{ comment.writer.username }}</a>
                            <div class="metadata">
                                <span class="date">{{ comment.created }}</span>
                            </div>
                            <div class="text feedback-text">
                                <p>{{ comment.text }}</p>
                            </div>
                            <div class="feedback-likes">
                                <a class="like">
                                    <i class="like icon"></i> 4 Likes
                                </a>
                            </div>
                        <div class="actions replay-button feedback-button" id="{{ comment.id }}">
                                <a class="reply link-replay"><i class="reply icon">Replay</i></a>
                            </div>
                    </div>

                        </div>

                {% else %}
                    <div class="replay">
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="{{ comment.writer.photo.url }}">
                                </a>
                                <div class="content">
                                    <a class="author">{{ comment.writer.username }}</a>
                                    <div class="metadata">
                                        <span class="date">{{ comment.created }}</span>
                                        <span class="replay-info">{{ comment.comment.writer }} </span>
                                    </div>
                                    <div class="text">
                                        {{ comment.text }}
                                    </div>
                                    <div class="feedback-likes">
                                        <a class="like">
                                            <i class="like icon"></i> 4 Likes
                                        </a>
                                    </div>
                                    <div class="actions replay-button feedback-button" id="{{ comment.comment_id }}">
                                        <a class="reply"><i class="reply icon">Replay</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <i class="ui divider">
            </i>
        </div>

    </div>
{% endblock %}